body{}
div{}
ul{

   
}
li{
    display:inline;
}


.navbar{
text-align: right;
margin-bottom: 150px;
}
.logo_box{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}
.search_form{
    display:inline;
    text-align:center;
   
    
}
.buttons{
    display:inline;
    text-align: center;
   
    
}
.footer{   
    margin:0;
    padding:0;
}
#left_list{
  display:inline;
  position:fixed;
  bottom:0;
  left:1px;
}
#right_list{
    display:inline;
    position:fixed;
    bottom:0;
    right:1px;    
}
#ads{
    margin-right: 10px;
}

#apps{
   width:25px;
   margin-top: 0px;
}

#gmail{
    width: 25px;
}


