body{}
div{}
ul{
    list-style: none;
    margin: 0px;
    padding:0px;
    position:relative;
}
li{
    display:inline;
}
a{}



.navbar{
text-align: right;
}
.logo_box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%

}
.search_form{}
.buttons{}
.footer{}

#appicon{}
#emailicon{}
#gmail{}
#logo{}
#searchbar{}
#left_list{}
#right_list{}

